node_modules/
generated/
.env
.env.local
.env.*.local
dist/
build/
*.log
npm-debug.log*
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo

/generated/prisma
uploads/cedulas/*
!uploads/cedulas/.gitkeep

/storage/face_models/*
!/storage/face_models/.gitkeep

/storage/face_id/*
!/storage/face_id/.gitkeep
